<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="cDao" class="com.jsp.hibernate_case_study_1.dao.CartDao" autowire="byType"></bean>
    <bean id="cartService" class="com.jsp.hibernate_case_study_1.services.CartService" primary="true"></bean>
    <bean id="productService" class="com.jsp.hibernate_case_study_1.services.ProductService"></bean>
    <bean id="pDao" class="com.jsp.hibernate_case_study_1.dao.ProductDao" autowire="byType"></bean>
    
    
</beans>